In [ ]:
import numpy as np
import pandas as pd

**TASK 1 - CREATE A PANDAS DATAFRAME WITH NUMPY RANDOM VALUES**

In [ ]:
data_random = np.random.rand(4,4)

In [ ]:
data_random

array([[0.68217092, 0.74481272, 0.7256393 , 0.96190849],
       [0.42822341, 0.98503207, 0.36166139, 0.92411694],
       [0.33641982, 0.16010597, 0.84588548, 0.04943935],
       [0.23783362, 0.1323349 , 0.79056292, 0.39185699]])

**TASK 2 - RENAME THE TASK-1 DATAFRAME COLUMN NAMES TO RANDOM VALUE 1,RANDOM VALUE 2,RANDOM VALUE 3,RANDOM VALUE4**

In [ ]:
df = pd.DataFrame(data_random, columns=['Random value 1',
                  'Random value 2','Random value 3','Random value 4'])

In [ ]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.682171        0.744813        0.725639        0.961908
1        0.428223        0.985032        0.361661        0.924117
2        0.336420        0.160106        0.845885        0.049439
3        0.237834        0.132335        0.790563        0.391857

**TASK 3 - FIND THE DESCRIPTIVE STATISTICS OF THE 'df' DATAFRAME**

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.421162        0.505571        0.680937        0.581830
std          0.190583        0.426525        0.218450        0.440132
min          0.237834        0.132335        0.361661        0.049439
25%          0.311773        0.153163        0.634645        0.306253
50%          0.382322        0.452459        0.758101        0.657987
75%          0.491710        0.804868        0.804394        0.933565
max          0.682171        0.985032        0.845885        0.961908

**TASK 4 - CHECK FOR NULL VALUES IN 'df' AND FIND THE DATA TYPE OF THE COLUMNS**

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

**TASK 5 - DISPLAY THE RANDOM VALUE 2 &RANDOM VALUE 3 COLUMNS WITH LOCATION AND INDEX LOCATION METHOD**

the location (loc) uses labels or index values that specifies the rows with indeces.

In [ ]:
#need to specify the labels
print(df.loc[:,['Random value 2','Random value 3']])

   Random value 2  Random value 3
0        0.744813        0.725639
1        0.985032        0.361661
2        0.160106        0.845885
3        0.132335        0.790563

In [ ]:
#need to specify the column index
print(df.iloc[:,[1,2]])

   Random value 2  Random value 3
0        0.744813        0.725639
1        0.985032        0.361661
2        0.160106        0.845885
3        0.132335        0.790563